* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  background-color: #f1f8e9;
  color: #2e7d32;
}

footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}


